*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(175, 118, 127);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.container{
    border: 2px solid red;
    width: 60vh;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rebeccapurple;
}
.clock{
    width: 45vh;
    height: 45vh;
    border: 2px solid black;
    border-radius: 50%;
    background: url("/img/126899277_1308670496146190_475893009200009706_n.png");
    background-size: contain;
}