*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#85b953;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.container{
    position: absolute;
    width: 65vh;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 15px 15px 30px black,
                -15px -15px 30px #68a034;
    background-color: rgb(175, 118, 127);

    /* transform: scale(1.2); */
}
.clock{
    position: absolute;
    width: 55vh;
    height: 55vh;
    border: 1px solid black;
    border-radius: 50%;
    background: url(/img/5054.png);
    background-position: center;
    background-size: cover;
    box-shadow:inset 15px 15px 30px rgb(37, 37, 37),
    inset -15px -15px 30px rgb(156, 68, 81);
}